<div id="pageFooter-last" class="footer" style="bottom: 0">
    <table class="table">
        <tr>
            <td>   
                <h5><b>PT Master Diskon Internasional</b></h5>
                <div class="text-muted">
                    <div>Alamanda Tower</div>
                    <div>Jl. TB Simatupang No. 22 - 26 Lt. 20 Unit F</div>
                    <div>Cilandak, Kota Jakarta Selatan, DKI Jakarta 12430</div>
                </div>
            </td>
            <td align="right">
                <h5>Contact Customer Care</h5>
                <div>
                    <span><img class="img-icon" src="https://masterdiskon.com/assets/icon/original/blue/icon-app-masdis-30.svg"> 0822 1100 3535</span><br>
                    <span><img class="img-icon" src="https://masterdiskon.com/assets/icon/original/blue/icon-app-masdis-09.svg"> cs@masterdiskon.com</span>
                </div>
            </td>
        </tr>
    </table>
</div>