<div id="pageHeader">
    <table class="table">
        <tr>
            <td>
                <h4>Flight e-Ticket</h4>
                <p class="mt-2">Order ID: order_code</p>
            </td>
            <td align="right">
                <img src="https://masterdiskon.com/assets/front/img/icon/masterdiskon_logo.png">
            </td>
        </tr>
    </table>
</div>